.jumbotron {
    background-color: #4CAF50;
    padding: 50px;
    text-align: center;
}

.jumbotron h1 {
    background-color: #4CAF50;
    color: #fff;
    font-size: 63px;
    text-align: center;
}
.jumbotron h2 {
    background-color: #4CAF50;
    color: #fff;
    font-size: 21px;
    font-weight: 200;
    margin-bottom: 15px;
    text-align: center;
}