.containers {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.bg-green {
    background-color: #4CAF50;
    padding: 50px 0;
    opacity: 0.9;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.logout-text-center{
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    text-align: center;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}
.logout-text-center h2 {
    color: #B4B4B4;
    font-weight: bold;
}