.loading-animation {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999;
}

.loading-animation .loader-icon {
    height: 100vh;
}

.loading-animation .loader-icon > img {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 44px;
    height: 44px;
    font-size: 10px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.loading-animation .loader-text {
    padding-left: 15px;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
