.xnavbar {
  margin-bottom: 0;
  background-color: #4CAF50;
  z-index: 9999;
  border: 0;
  font-size: 15px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
  height: 100%;
}
.header {
  margin-bottom: 0;
  background-color: #4CAF50;
  z-index: 9999;
  border: 0;
  font-size: 15px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
  height: 100%;
}
.header a {
  display: inline-block;
  padding: 0px;
  color: #fff;
  font-size: 15px;
  text-decoration: none;
}
.menu {
  text-align: center;
}
.menu a {
  display: inline-block;
  padding: 10px;
  color: #fff;
  font-size: 15px;
  text-decoration: none;
}

.menu a:hover,
.menu a:active {
  color: #4CAF50 !important;
  background-color: #fff !important;
}

.xpage-info {
  text-align: center;
  font-weight: bold;
}

.help-block {
  color: #F00;
}

.jumbotron {
  border-radius: 0;
}